.page-wrapper{
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    margin: 30px 0px;
    max-width: 600px;
    background-color: rgb(206, 169, 135);
    border-radius: 15px;
}