.third-wrapper {
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  margin: 30px 0px;
  gap: 15px;
  max-width: 600px;
  background-color: rgb(248, 217, 188);
  border-radius: 15px;
}

.clone-wrpper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.next-gold {
  display: flex;
  gap: 10px;
}

.last-button {
  position: absolute;
  bottom: 5px;
  left: 5px;
}
